@media(min-width:992px){
    

    .img_logo{
        width:500px;
        height:200;
    }
    .btn{
        width: 50%;
    }
}



@media (max-width:992px) { 
    .img_logo
    {
        width: 250px;
        height: 80px;
    }
    .container
    {
        flex-direction: column;
        justify-content: center;
        
    }
}
@media (max-width:540px) { 
    .img_logo
    {
        width: 250px;
        height: 80px;
    }

}
.mr{
    width: 100%;
    height: auto;
}
h1 {
    color: #15c07c;
    font-size: 2px;
    font-size: small;
}
body{
    text-align: center;
    margin-top: 100px;
    background-color: #E5E7E9; 
}
