body{
    text-align: center;
    background-color: #E5E7E9; 
}

.mr{
    margin-top: 100px;
}
#form-label {
    color: #3a0ca3;
}
h1 {
    color: #189a66;
    font-size: 20px;
}

@media (max-width: 922px) { 
.img_logo
{
    width: 309px;
    height: 100px;
}
input{
    
}

h1 {
    color: #15c07c;
    font-size: 10px;
}
 }

 @media (max-width: 723px) { 
    .img_logo
    {
        width: 280px;
        height: 100px;
    }
    .rest{
        position: absolute;
    }
}
@media (max-width: 540px) { 
    .img_logo
    {
        width: 250px;
        height: 80px;
    }
    h1 {
        color: #15c07c;
        font-size: 2px;
        font-size: small;
    }
    .rest{
        position: absolute;
    }
}