.documetns{
    display: block;
}
.accordion button{
    background-color: #f9844a;
}
.accordion-item{
    background-color: #c0c0c0;
}
@media(max-width:992px){
    .documents{
        margin: auto;
        text-align: center;
        width: 600px;
        height: auto;
    }
  }
@media(min-width:992px){
    .documents{
        height: auto;

        margin-left: 200px;
       width: 1200px;
    }
}
 