@media(min-width:992px)
{
    .container{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .navbar{
        width: 20%;
        height: 100%;
        align-items: flex-start;
    }
    .navbar-brand{
        margin-left: .5rem;
        font-size: 1.5em;
        font-weight: bold;
        display: block;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}