@media(min-width:992px){
  .App{
    display: flex;
    overflow: hidden;
  }
}
.App {
  text-align: center;
  overflow: hidden;

}



@media(max-width:992px){
  .my-custom-scrollbar {
  
  
    position: relative;
    height: 250px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
  .main{
      
      margin: auto;
      text-align: center;
      height: auto;
      width: 600px;
  }
  .form{
      width: 200px;
    }
  .formP{
      
      display: flex;
      justify-content: center;
  }
  .formP div{
      margin-left: 30px;
      padding-top: 10px;
  }
    
}
@media(min-width:992px){
  .img_logo{
    width:500px;
    height:200;
  }
  .connecter{
      width: 50%;
  }
  .main{
    
      margin-left: 90px;
      height: auto;
      margin:20px auto;
      width: 1000px;
  }
}
.form{
  display: flex;
  justify-content: center;
}

.fa-solid{
  margin-right: 10px;
}
table{
  margin: 50px;

}


.filter{
  background-color:#ff006e;
}
.ajout-export button {
  margin-right: 10px;
  display: inline-block;
  margin-bottom: 5px;
}
h4{
  margin: 20px ;
}
h5{
  margin-top: 20px;
}
.card{
  margin : 40px;
  width: 400px;
  height: 400px;
  text-align: center;
}
.titres{

  padding-top: 20px;
  border-bottom: 1px solid black;
  color: #fb8500;
}
.accordion button{
  background-color: #f9844a;
}
.accordion-item{
  background-color: #c0c0c0;
}




@media (max-width:992px) { 
  .img_logo
  {
      width: 250px;
      height: 80px;
  }
  .form-connect
  {
      flex-direction: column;
      justify-content: center;
      
  }
}
@media (max-width:540px) { 
  .img_logo
  {
      width: 250px;
      height: 80px;
  }

}
h1 {
  color: #15c07c;
  font-size: 2px;
font-size: small;
}
.mr{
  width: 100%;
  height: 1000px;
  margin: auto;
  padding-top: 100px;
  background-color: #E5E7E9; 
}
.btn-valider{
  margin-top: 20px;
}