@media(min-width:992px){
  .App{
    display: flex;
    overflow: hidden;
  }
}
.App {
  text-align: center;
  overflow: hidden;
  
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@media(max-width:992px){
  .main{
      margin: auto;
      text-align: center;
      height: auto;
      display: flex;
      justify-content: center;
  }
  .form{
      width: 200px;
    }
  .formP{
      
      display: flex;
      justify-content: center;
  }
  .formP div{
      margin-left: 30px;
      padding-top: 10px;
  }
    
}
@media(min-width:992px){
  .main{
      margin-left: 200px;
      height: auto;
      margin:20px auto;
      width: 1000px;
  }
}
.form{
  display: flex;
  justify-content: center;
}

.fa-solid{
  margin-right: 10px;
}
.table{
  margin-top: 50px;
}
.filter{
  background-color:#ff006e;
}
.ajout-export button {
  margin-right: 10px;
  display: inline;
  margin-bottom: 5px;
}
h4{
  margin: 20px ;
}
h5{
  margin-top: 20px;
}
.card{
  margin : 40px;
  width: 400px;
  height: 400px;
  text-align: center;
}
.titres{

  padding-top: 20px;
  border-bottom: 1px solid black;
  color: #fb8500;
}
.accordion button{
  background-color: #f9844a;
}
.accordion-item{
  background-color: #c0c0c0;
}

@media(min-width:992px){
    

  .img_logo{
      width:500px;
      height:200;
  }
  .connecter{
      width: 50%;
  }
}



@media (max-width:992px) { 
  .img_logo
  {
      width: 250px;
      height: 80px;
  }
  .form-connect
  {
      flex-direction: column;
      justify-content: center;
      
  }
}
@media (max-width:540px) { 
  .img_logo
  {
      width: 250px;
      height: 80px;
  }

}
h1 {
  color: #15c07c;
  font-size: 2px;
font-size: small;
}
.mr{
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  background-color: #E5E7E9; 
}
